<div class="c-event-activities">

    <div class="event__filters c-exhibitors__filters s-grid">
        <div class="event__searchgroup s-grid__column s-grid__column--4-12">
            <div class="searchgroup">
                <h3 class="searchgroup__label">Zoek</h3>
                <span class="searchgroup__holder">
                        <input type="text"
                               placeholder="zoeken"
                               name="search_participants_query"
                               value=""
                               class="text">
                    </span>
            </div>
        </div>
        <div class="event__selectfilter s-grid__column s-grid__column--4-12">
            <div class="field-group">
                <h3 class="selectfilter__label">Kies een activiteit</h3>
                <select name="event__selectfilter_category"
                        class="custom-select-dropdown hasCustomSelect">
                    <option value="0">Alle types</option>
                    {% for category_name, unused in categoryList %}
                        <option value="{{ category_name|capitalize }}"
                                data-trigger-group="event-activities"
                                class="c-event-activities__navitem"
                                {% if active_activity == category_name %}selected="selected"{% endif %}
                        >{{ category_name|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="event__selectfilter s-grid__column s-grid__column--3-12">
            <div class="field-group">
                <h3 class="selectfilter__label">Kies een datum</h3>
                <select name="event__selectfilter_day"
                        class="custom-select-dropdown hasCustomSelect">
                    <option value="0" selected="selected">Alle datums</option>
                    {% for day, day_activities in dayList %}
                        <option value="{{ day_activities.dateActive }}"
                                data-trigger-group="event-activities"
                                class="c-event-activities__navitem"
                                {% if active_activity == day %}selected="selected"{% endif %}
                        >{{ day|localDate("j F Y")|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <hr>

    <div class="event__holder s-grid">
        <div class="event_empty_result" style="display: none;">
            Er zijn geen activiteiten gevonden, probeer het eens met minder <a href="./">zoekcreteria</a>.
        </div>
        {% for activity_name, activity in activityList %}
            <div class="event__block s-grid__column s-grid__column--4-12"
                 data-category="{{ activity.type }}"
                 data-day="{{ activity.dateActive }}">
                <div class="s-square">
                    <div class="s-square__content">
                        <div class="c-card">
                            <img class="c-card__image" src="{{ activity.media.0.url | default(default_image) }}" alt="{{ activity.title }}">
                            <div class="c-card__title event__title">
                                <p class="c-article__title h3">{{ activity.title }}</p>
                                <p>Podium: Hoofdpodium</p>
                                <a href="{{ activity.website }}" class="c-button c-button--card">
                                    BEKIJK DE WEBSITE
                                </a>
                                {# @TODO: This needs to replaced with the book ticket url when ready #}
                                <a href="{{ activity.readmore }}" class="c-button c-button--card">
                                    BOEK JE TICKET NU
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>