<div class="s-grid s-grid--responsive c-event-filter">

    <div class="s-grid__column s-grid__column--4-12">
        <label for="event_filter_text">Zoek</label>
        <input type="text"
               placeholder="zoeken"
               name="event_filter_text">
    </div>

    <div class="s-grid__column s-grid__column--4-12">
        <label for="event_filter_activity">Kies een activiteit</label>
        <select name="event_filter_activity">
            <option value="0">Alle types</option>
            {% for category_name, unused in categoryList %}
                <option value="{{ category_name|capitalize }}"
                        {% if active_activity == category_name %}selected="selected"{% endif %}
                >{{ category_name|capitalize }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="s-grid__column s-grid__column--4-12">
        <label for="event_filter_date">Kies een datum</label>
        <select name="event_filter_date">
            <option value="0" selected="selected">Alle datums</option>
            {% for day, day_activities in dayList %}
                <option value="{{ day_activities.dateActive }}"
                        {% if active_activity == day %}selected="selected"{% endif %}
                >{{ day|localDate("j F Y")|capitalize }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<hr>

<div class="s-grid c-event-activities">

    {% for activity_name, activity in activityList %}

        <div class="event__block s-grid__column s-grid__column--4-12"
             data-category="{{ activity.type }}"
             data-day="{{ activity.dateActive }}">

            <div class="s-square">
                <div class="s-square__content">
                    <div class="c-card">
                        <a href="{{ activity.website }}">
                            <div class="c-card__image"
                                 style="background-image: url('{{ activity.media.0.url | default(default_image) }}');"></div>
                        </a>

                        <div class="c-card__title ">
                            <small>{{ activity.location }}: {{ activity.sublocation }}</small>
                            <p class="c-article__title h3">
                                {{ activity.title }}
                            </p>

                            <a href="{{ activity.readmore }}" type="button" class="c-button c-button--card">BOEK JE
                                TICKET
                                NU</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

</div>

<div class="s-grid s-grid--responsive c-event-no-result">
    Er zijn geen activiteiten gevonden, probeer het eens met minder zoekcriteria.
</div>
