<div class="c-event-activities">

    <div class="event__filters c-exhibitors__filters s-grid">
        <div class="event__searchgroup s-grid__column s-grid__column--4-12">
            <div class="searchgroup">
                <h3 class="searchgroup__label">Zoek</h3>
                <span class="searchgroup__holder">
                        <input type="text"
                               placeholder="zoeken"
                               name="search_participants_query"
                               value=""
                               class="text">
                    </span>
            </div>
        </div>
        <div class="event__selectfilter s-grid__column s-grid__column--4-12">
            <div class="field-group">
                <h3 class="selectfilter__label">Kies een activiteit</h3>
                <select name="event__selectfilter_category"
                        class="custom-select-dropdown hasCustomSelect">
                    <option value="0">Alle types</option>
                    {% for category_name, unused in categoryList %}
                        <option value="{{ category_name|capitalize }}"
                                data-trigger-group="event-activities"
                                class="c-event-activities__navitem"
                                {% if active_activity == category_name %}selected="selected"{% endif %}
                        >{{ category_name|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="event__selectfilter s-grid__column s-grid__column--3-12">
            <div class="field-group">
                <h3 class="selectfilter__label">Kies een datum</h3>
                <select name="event__selectfilter_day"
                        class="custom-select-dropdown hasCustomSelect">
                    <option value="0" selected="selected">Alle datums</option>
                    {% for day, day_activities in dayList %}
                        <option value="{{ day_activities.dateActive }}"
                                data-trigger-group="event-activities"
                                class="c-event-activities__navitem"
                                {% if active_activity == day %}selected="selected"{% endif %}
                        >{{ day|localDate("j F Y")|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <hr>

    <div class="event__holder s-grid">
        <div class="event_empty_result" style="display: none;">
            Er zijn geen activiteiten gevonden, probeer het eens met minder <a href="./">zoekcreteria</a>.
        </div>
        {% for activity_name, activity in activityList %}
            <div class="event__block s-grid__column s-grid__column--4-12"
                 data-category="{{ activity.type }}"
                 data-day="{{ activity.dateActive }}">
                <div class="event__mediaholder">
                    <div class="event__media">
                        <img src="{{ activity.media.0.url | default(default_image) }}"
                             alt="{{ activity.title }}">
                    </div>
                </div>

                <div class="event__title website readmore">
                    <p class="event__title-text">
                        {{ activity.title }}
                    </p>
                    <div class="event__btn-container">
                        <p class="event__card-text event__card-text--uppercase">
                            {{ activity.location }}: {{ activity.sublocation }}
                        </p>
                        <a href="{{ activity.website }}"
                           target="_blank"
                           class="event__btn event__btn--website">
                            BEKIJK DE WEBSITE
                        </a>
                        <a href="{{ activity.readmore }}"
                           target="_blank"
                           class="event__btn">
                            BOEK JE TICKET NU
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>