<div class="shopping">

    <div class="shopping__header">
        <form method="get" action="" class="search search--shopping">
            <input type="text" name="shop" value="{{ search_shop_query }}"
                   placeholder="{{ shop_search_placeholder | default( 'Zoek een shop...' ) }}"/>
            <input type="submit" value="{{ shop_search_btn | default( 'Zoeken' ) }}">
        </form>
    </div>

    {% if shops and shops is iterable %}
        {% for categoryTitle, branches in shops %}
            <h2 class="shop__category-title">Categorie {{ categoryTitle|lower }}</h2>

            {# set custom ro default link to page or external site #}
            <div class="s-columns s-columns--3" data-js-sort>
                {% for branch in branches %}
                    {% for exhibitor in branch %}
                        {% set displayName = exhibitor.stand is defined and exhibitor.stand.name != '' ?  exhibitor.stand.name : exhititor.exhibitor.getTitle %}

                        <div class="s-columns__column c-shoppen" data-sort="{{ exhibitor.stand.name }}">
                            <span class="c-shoppen__displayname">
                                <strong>
                                    {% if exhibitor.stand is defined and exhibitor.stand.website is defined and exhibitor.stand.website is not empty %}
                                        <a href="{{ exhibitor.stand.website }}"
                                           title="{{ displayName }}" target="_blank">
                                            <span>{{ displayName }}</span>
                                        </a>
                                    {% else %}
                                        <span>{{ displayName }}</span>
                                    {% endif %}
                                </strong>
                            </span>

                            <span class="c-shoppen__location">
                                {{ exhibitor.getStand().location|default() }}
                                {% if exhibitor.getStand().location is not empty %} - {% endif %}
                                {{ exhibitor.getStand().sublocation|default() }}
                            </span>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
</div>
