{% set displayName = shop.stand is defined and shop.stand.name != '' ?  shop.stand.name : shop.exhibitor.getTitle %}

<div class="s-columns__column c-event-shop">

    {% if shop.stand is defined and shop.stand.website is defined and shop.stand.website is not empty %}
    <a href="{{ shop.stand.website }}" title="{{ displayName }}" target="_blank">
        {% endif %}
        <div class="name">
            {{ displayName }}
        </div>
        <div class="location">
            {{ shop.getStand().location|default() }}
            {% if shop.getStand().location is not empty %} - {% endif %}
            {{ shop.getStand().sublocation|default() }}
        </div>
        {% if shop.stand is defined and shop.stand.website is defined and shop.stand.website is not empty %}
    </a>
    {% endif %}
</div>
