{% set day_activity_hash = day_activity.activityId ~ day_activity.timestampStart %}
{% set link = settings.button_link == 'readmore' ? day_activity.readmore : day_activity.website %}

<div class="activity">
    <a href="#" data-target="{{ day_activity_hash|md5 }}">
        <span>{{ day_activity.title }}</span>
        <date>{{ day_activity.start }} - {{ day_activity.end }}</date>
    </a>

    <div data-item="{{ day_activity_hash|md5 }}">
        <div class="image">
            <img src="{{ day_activity.image | default(default_image) }}"
                 alt="{{ day_activity.title }}">
        </div>

        <div class="content">
            <h3>
                {{ day_activity.title }}
            </h3>
            <p class="date">
                {{ day|localDate("l j F Y")|capitalize }}: {{ day_activity.start }} - {{ day_activity.end }}
            </p>
            <p>
                {% if 'true' != settings.hide_location %}
                    <b>{{ day_activity.location }}: {{ day_activity.sublocation }}</b><br>
                {% endif %}


                {% if 'true' == settings.show_price %}
                    {% if activity.timebox.0.price matches '/[+-]?([0-9]*[.])?[0-9]+/' and activity.timebox.0.price > 0 %}
                        Prijs: € {{ activity.timebox.0.price|number_format(2) }}<br>
                    {% else %}
                        {{ settings.free_text }}<br>
                    {% endif %}
                {% endif %}

                {{ day_activity.description }}
            </p>
            {% if day_activity.readmore %}
                <p>
                    <a href="{{ link }}" target="{{ settings.link_target }}">{{ settings.button_text }}</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
